//////////////////////////////
///// LOGO
.logo {
    height: 3.25rem;
    margin-left: 1.8rem;
}

//////////////////////////////
///// SEARCH
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-Grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        margin-right: -2.3rem;
        transition: all .4s;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-Grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-Grey-light-4);
        }
    }

    //json selectoer
    &__input:focus+&__button {
        background-color: var(--color-Grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-Grey-light-2);
        transition: all .2s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(.2rem);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-Grey-dark-3);
    }
}


//////////////////////////////
///// USER NAVIGATION

.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    //direct childredn
    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all .3s;
    }

    &>*:hover {
        background-color: var(--color-Grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-Grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;

    }
}

//////////////////////////////
///// Side Navigation
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: .3rem;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s,
            width .4s cubic-bezier(1, 0, 0, 1) .2s,
            background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-Grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 9999;

        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

//////////////////////////////
///// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-Grey-light-4);
    text-align: center;
    padding: 2.5rem;
}